src/main/java/flavor/Generated/ETT_section.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.ee.columbia.edu/flavor"
            xmlns="http://www.ee.columbia.edu/flavor"
            elementFormDefault="qualified">
<xsd:include schemaLocation="fltypes.xsd"/>


<xsd:complexType name="ETT">
    <xsd:sequence>
        <xsd:element name="table_id" type="flUInt"/>
        <xsd:element name="section_syntax_indicator" type="flUInt"/>
        <xsd:element name="private_indicator" type="flUInt"/>
        <xsd:element name="reserved1" type="flUInt"/>
        <xsd:element name="section_length" type="flUInt"/>
        <xsd:element name="ETT_table_id_extension" type="flUInt"/>
        <xsd:element name="reserved2" type="flUInt"/>
        <xsd:element name="version_number" type="flUInt"/>
        <xsd:element name="current_next_indicator" type="flUInt"/>
        <xsd:element name="section_number" type="flUInt"/>
        <xsd:element name="last_section_number" type="flUInt"/>
        <xsd:element name="protocol_version" type="flUInt"/>
        <xsd:element name="ETM_id" type="flUInt"/>
        <xsd:element name="extended_text_message" type="MultiString"/>
        <xsd:element name="CRC_32" type="flUInt"/>
    </xsd:sequence>
    <xsd:attribute name="aligned" type="xsd:unsignedInt" use="optional"/>
</xsd:complexType>

<xsd:element name="ETT" type="ETT"/>

</xsd:schema>