src/main/java/flavor/Generated/MGT_section.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.ee.columbia.edu/flavor"
            xmlns="http://www.ee.columbia.edu/flavor"
            elementFormDefault="qualified">
<xsd:include schemaLocation="fltypes.xsd"/>


<xsd:complexType name="MGTTable">
    <xsd:sequence>
        <xsd:element name="table_type" type="flUInt"/>
        <xsd:element name="reserved1" type="flUInt"/>
        <xsd:element name="table_type_PID" type="flUInt"/>
        <xsd:element name="reserved2" type="flUInt"/>
        <xsd:element name="table_type_version_number" type="flUInt"/>
        <xsd:element name="number_bytes" type="flUInt"/>
        <xsd:element name="reserved3" type="flUInt"/>
        <xsd:element name="table_type_descriptors_length" type="flUInt"/>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="descriptor" type="Descriptor"/>
        </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="aligned" type="xsd:unsignedInt" use="optional"/>
</xsd:complexType>

<xsd:complexType name="MGT">
    <xsd:sequence>
        <xsd:element name="table_id" type="flUInt"/>
        <xsd:element name="section_syntax_indicator" type="flUInt"/>
        <xsd:element name="private_indicator" type="flUInt"/>
        <xsd:element name="reserved1" type="flUInt"/>
        <xsd:element name="section_length" type="flUInt"/>
        <xsd:element name="table_id_extension" type="flUInt"/>
        <xsd:element name="reserved2" type="flUInt"/>
        <xsd:element name="version_number" type="flUInt"/>
        <xsd:element name="current_next_indicator" type="flUInt"/>
        <xsd:element name="section_number" type="flUInt"/>
        <xsd:element name="last_section_number" type="flUInt"/>
        <xsd:element name="protocol_version" type="flUInt"/>
        <xsd:element name="tables_defined" type="flUInt"/>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="table" type="MGTTable"/>
        </xsd:sequence>
        <xsd:element name="reserved3" type="flUInt"/>
        <xsd:element name="descriptors_length" type="flUInt"/>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="descriptor" type="Descriptor"/>
        </xsd:sequence>
        <xsd:element name="CRC_32" type="flUInt"/>
    </xsd:sequence>
    <xsd:attribute name="aligned" type="xsd:unsignedInt" use="optional"/>
</xsd:complexType>

<xsd:element name="MGT" type="MGT"/>

</xsd:schema>