src/main/java/flavor/Generated/PAT_section.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.ee.columbia.edu/flavor"
            xmlns="http://www.ee.columbia.edu/flavor"
            elementFormDefault="qualified">
<xsd:include schemaLocation="fltypes.xsd"/>


<xsd:complexType name="PATProgram">
    <xsd:sequence>
        <xsd:element name="program_number" type="flUInt"/>
        <xsd:sequence minOccurs="0">
            <xsd:element name="network_PID" type="flUInt"/>
        </xsd:sequence>
        <xsd:sequence minOccurs="0">
            <xsd:element name="program_map_PID" type="flUInt"/>
        </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="aligned" type="xsd:unsignedInt" use="optional"/>
</xsd:complexType>

<xsd:complexType name="PAT">
    <xsd:sequence>
        <xsd:element name="table_id" type="flUInt"/>
        <xsd:element name="section_syntax_indicator" type="flUInt"/>
        <xsd:element name="private_indicator" type="flUInt"/>
        <xsd:element name="section_length" type="flUInt"/>
        <xsd:element name="transport_stream_id" type="flUInt"/>
        <xsd:element name="version_number" type="flUInt"/>
        <xsd:element name="current_next_indicator" type="flUInt"/>
        <xsd:element name="section_number" type="flUInt"/>
        <xsd:element name="last_section_number" type="flUInt"/>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="program" type="PATProgram"/>
        </xsd:sequence>
        <xsd:element name="CRC_32" type="flUInt"/>
    </xsd:sequence>
    <xsd:attribute name="aligned" type="xsd:unsignedInt" use="optional"/>
</xsd:complexType>

<xsd:element name="PAT" type="PAT"/>

</xsd:schema>