src/main/java/flavor/Generated/PMT_section.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.ee.columbia.edu/flavor"
            xmlns="http://www.ee.columbia.edu/flavor"
            elementFormDefault="qualified">
<xsd:include schemaLocation="fltypes.xsd"/>


<xsd:complexType name="PMTStream">
    <xsd:sequence>
        <xsd:element name="stream_type" type="flUInt"/>
        <xsd:element name="elementary_PID" type="flUInt"/>
        <xsd:element name="ES_info_length" type="flUInt"/>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="descriptor" type="Descriptor"/>
        </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="aligned" type="xsd:unsignedInt" use="optional"/>
</xsd:complexType>

<xsd:complexType name="PMT">
    <xsd:sequence>
        <xsd:element name="table_id" type="flUInt"/>
        <xsd:element name="section_syntax_indicator" type="flUInt"/>
        <xsd:element name="private_indicator" type="flUInt"/>
        <xsd:element name="section_length" type="flUInt"/>
        <xsd:element name="program_number" type="flUInt"/>
        <xsd:element name="version_number" type="flUInt"/>
        <xsd:element name="current_next_indicator" type="flUInt"/>
        <xsd:element name="section_number" type="flUInt"/>
        <xsd:element name="last_section_numbe" type="flUInt"/>
        <xsd:element name="PCR_PID" type="flUInt"/>
        <xsd:element name="program_info_length" type="flUInt"/>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="descriptor" type="Descriptor"/>
        </xsd:sequence>
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="stream" type="PMTStream"/>
        </xsd:sequence>
        <xsd:element name="CRC_32" type="flUInt"/>
    </xsd:sequence>
    <xsd:attribute name="aligned" type="xsd:unsignedInt" use="optional"/>
</xsd:complexType>

<xsd:element name="PMT" type="PMT"/>

</xsd:schema>